/* You can add global styles to this file, and also import other style files */
.btn-primary {
  background-color: #7952b3;
  border: none;
}

.btn-primary:hover {
  background-color: #7952b3;
  border: none;
}